.container-fluid
    .container
        .logo: a(routerLink='/')
            Image(src="https://res.cloudinary.com/hieu/image/upload/v1536216560/zFoodBakery/logo.png")
        .main-nav
            nav
        .login-option
            btn.login
                | Login / Register
            btn.submit_restaurant
                | Register Restaurant
            .register_restaurant_button


