.container
    .logo: a(routerLink='/')
        Image(src="https://res.cloudinary.com/hieu/image/upload/v1535353904/zFoodBakery/main-logo.png")
    .main-nav
        hamburger-button
        .site-navigation
            a(routerLink='/categories')  Categories
            a(routerLink='/contact')  Contact
            a(routerLink='/blog')  Blog
            a(routerLink='/about')  About
    .location
    .login-option


