@import "variables";

.container-fluid {
    position: fixed;
    z-index: 999999999999;
}

.container {
    grid-template:
            "logo   main-nav      login-option" 70px /
              25em       6em                 1fr;
    align-items: center;
    color: #444;
    .logo {
        grid-area: logo;
    }
    .main-nav {

        display: flex;
        justify-content: space-between;
        grid-area: main-nav;
        a {
            color: #2d3a4b;
            font-size: 1.8em;

        }
    }

    .login-option {
        display: flex;
        justify-content: flex-end;
        grid-area: login-option;
        btn {
            border: none;
            color: white;
            font-size: 1.5rem;
            font-weight: 700;
            padding: 1rem 1.5rem;
            text-transform: uppercase;
        }
        btn.login {

        }
        btn.submit_restaurant {
            background-color: $primary;
            //color: white;
        }
    }
}





