.container-fluid
    video(autoplay)
        source(src="https://res.cloudinary.com/hieu/video/upload/v1536216976/zFoodBakery/banner_video_1.mp4", type="video/mp4")
    #content
        h1.heading Order Takeaway or Delivery Food
        p.sub_heading
            | Food, in the end, in our own tradition, is something holy. It's not about nutrients and calories.
            br
            | It's about sharing. It's about honesty. It's about identity.
        search-input

        #statistic
            .box
                .number 2650
                p Restaurant
            .box
                .number 5350
                p People Served
            .box
                .number 12350
                p Registered Users
